header{
padding-bottom: 3%;
  position: relative;
}

.navigation{
  top: 0;
  position: sticky;
  z-index: 12;
  background-color: rgb(236, 236, 236);
}

header .name{
  font-weight: 800;
  font-size: 1.3em;
  display: inline;
}

header .logo{
width: 7%;
margin-bottom: -0.7%;
margin-right: 0.5%;
}

.banner{
  margin-bottom: 5%;
    background: url('./banner.jpeg');
    width: 100%;
    height: 30em;
    background-size: cover;
    background-position: center 80%;
    background-blend-mode: multiply;
    background-color: #d6d6d6;
    position: relative;
  }

  header .banner::after {
    content: "Items for your home";
    color: antiquewhite;
    opacity: 0.7;
    position: absolute;
    left: 40%;
    right: 2%;
    bottom: 1%;
    text-align: right;
    font-size: 650%;
    font-weight: 600;
  }

  header ul.nav {
    position: relative;
    text-align: right;
    list-style: none;
    margin-top: -4%;
    margin-right: -2%;

  }

  header ul.nav li {
    display: inline;
    margin-left: 2%;
    cursor: pointer;
    transition: 500ms ease;
    opacity: 0.6;
  }
  
  header ul.nav li:hover {
    opacity: 1;
  }

  .shopping-cart-button{
    background: transparent;
    border: transparent;
    margin: 0;
    padding: 0;
  }

.shopping-cart-button.active{
    transform: translateY(-15%) rotate(180deg);
    opacity: 1;
    transition: 500ms;
}

.shopping-cart-image{
  cursor: pointer;
  width: 40%;
  margin-bottom: 0;
  margin-right: 0;
}

.shopping-list{
  position: absolute;
  overflow-x: scroll;
  max-height: 600%;
  z-index: 22;
  width: 40%;
  top: 80%;
  right: -0.2%;
  background-color: rgb(214, 214, 214);
  z-index: 22;
  box-shadow: 12px 10px 15px -4px rgb(90, 90, 90);
}